$basic-color-text: #444444;
$secondary-color-text:  #000000;
$secondary-color-text-light: #111111;
$contrast-color-text: #ffffff;

$basic-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

$bg-color-basic: #f2f2f2;
$bg-color-accent: #68b738;

