$text-color-basic: #444444;
$text-color-second:  #000000;
$text-color-second-light: #111111;
$text-color-second-light-2: #222222;
$text-color-contrast: #ffffff;

$basic-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Lato", "Arial", sans-serif;

$bg-color-basic: #f2f2f2;
$bg-color-accent: #68b738;

$tablet-width: 768px;
$desktop-width: 1300px;
