.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
<<<<<<< HEAD
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
=======
  padding: 0;
  border: 0;
>>>>>>> fb15d67 (Добавляет векторную графику в проект (#13))
  clip: rect(0 0 0 0);
  overflow: hidden;
}
