.additional-products__title {
  padding-top: 25px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding-top: 74px;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
  }
}

.additional-products__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;
  }
}

.additional-products__list {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid $border-color-special-4;

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    margin-bottom: 0;
  }
}

.additional-products__promo {
  min-height: 290px;
  padding: 59px 45px 43px;
  box-sizing: border-box;

  @include text-parameters($basic-font, 16px, 20px, $text-color-contrast);
  // background-color: $bg-color-accent;
  background-image: linear-gradient(rgba($bg-color-accent, 0.85), rgba($bg-color-accent, 0.85)), url("../../images/additional_gift_mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (width >= $tablet-width) and (width < $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
    padding: 60px 79px;
    background-image: linear-gradient(rgba($bg-color-accent, 0.85), rgba($bg-color-accent, 0.85)), url("../../images/additional_gift_tablet@1x.png");
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 288px;
    padding: 56px 42px 43px;
    background-image: linear-gradient(rgba($bg-color-accent, 0.85), rgba($bg-color-accent, 0.85)), url("../../images/additional_gift_desktop@1x.png");
  }

  &::before {
    content: "";
    display: block;
    margin: 0 auto 48px;
    width: 78px;
    height: 80px;
    background-image: url("../../icons/icon_gift.svg");

    @media (width >= $tablet-width) and (width <= $desktop-width) {
      margin: 0;
    }
  }
}

.additional-products__promo-text {
  margin: 0;

  text-align: center;

  @media (width >= $tablet-width) and (width < $desktop-width) {
    min-width: 208px;
    text-align: left;
  }
}
