.additional-products__title {
  @include text-parameters($secondary-font, 24px, 24px, $text-color-second);
  font-weight: 400;
}

.additional-products__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional-products__promo {
  @include text-parameters($basic-font, 16px, 20px, $text-color-contrast);
  background-color: $bg-color-accent;
}
