.button {
  @include text-parameters($secondary-font, 16px, 20px, $text-color-contrast);
  text-transform: uppercase;
  text-decoration: none;
}

.button--primary {
  background-color: $bg-color-accent;
}

.button--secondary {
  color: $text-color-basic;
  background-color: $bg-color-basic;
}
