.button {
  padding-top: 10px;
  padding-bottom: 10px;

  @include text-parameters($secondary-font, 16px, 20px, $text-color-contrast);
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.button--primary {
  background-color: $bg-color-accent;
}

.button--secondary {
  color: $text-color-basic;
  background-color: $bg-color-basic;
}
