.card {
  padding-top: 20px;
  padding-bottom: 25px;
  border-top: 1px solid $border-color-special-2;

  @media (min-width: $tablet-width) {
    background-color: $bg-color-basic;
  }
}

.card__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  align-items: start;
}

.card__wrapper--show-more {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 60px;
  text-align: center;
}

.card__wrapper--show-more::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 30px;
  height: 2px;
  background-color: $bg-color-special-2;
}

.card__wrapper--show-more::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 30px;
  height: 2px;
  transform-origin: left;
  transform: rotate(90deg);
  background-color: $bg-color-special-2;
}

.card picture {
  display: contents;
}

.card__title-link {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 95px;
  margin-bottom: 13px;
  text-decoration: none;
}

.card__title {
  margin-top: 0;
  margin-bottom: 0;

  @include text-parameters($secondary-font, 16px, 20px, $text-color-second-light-2);
  font-weight: 400;
  text-transform: uppercase;
}

.card__title--show-more {
  margin-bottom: 8px;
  color: $text-color-second-light;
}

.card__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
}

.card__info-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 12px;
  line-height: 16px;
}

.card__info-value {
  justify-self: end;
  margin-left: 0;
}

.card__image-link {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.card__image {
  display: block;
  object-fit: contain;
}

.card__link {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  margin-top: 16px;
}

.card__link--show-more {
  margin-top: 20px;
}
