.card {

  padding-top: 20px;
  padding-bottom: 25px;

  @media (max-width: $mobile-only) {
    display: grid;
    grid-template-columns: 1fr 280px 1fr;
    border-top: 1px solid $border-color-special-2;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 37px 40px;
    background-image: linear-gradient($bg-color-light 82px, $bg-color-basic 82px);
  }
}

.card--show-more {
  @media (min-width: $tablet-width) {
    padding-top: 50px;
    margin-top: 82px;
    background-color: $bg-color-light;
    background-image: none;
    outline: 1px solid $border-color-special-3;
    outline-offset: -1px;
  }
}

.card__wrapper {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  align-items: start;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
}

.card__wrapper--show-more {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 60px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 110px;
  }
}

.card__wrapper--show-more::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 30px;
  height: 2px;
  background-color: $bg-color-special-2;

  @media (min-width: $tablet-width) {
    top: 31px;
    width: 60px;
  }
}

.card__wrapper--show-more::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 30px;
  height: 2px;
  transform-origin: left;
  transform: rotate(90deg);
  background-color: $bg-color-special-2;

  @media (min-width: $tablet-width) {
    width: 60px;
  }
}

.card picture {
  display: contents;
}

.card__title-link {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 95px;
  margin-bottom: 13px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    justify-self: center;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    width: 155px;
    margin-bottom: 20px;
    text-align: center;
  }
}

.card__title {
  margin-top: 0;
  margin-bottom: 0;

  @include text-parameters($secondary-font, 16px, 20px, $text-color-second-light-2);
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.card__title--show-more {
  margin-bottom: 8px;
  color: $text-color-second-light;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    width: 175px;
    align-self: center;
  }
}

.card__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;


  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 225px;
    align-self: center;
  }
}

.card__info-list {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    font-size: 16px;
    line-height: 20px;
  }
}

.card__info-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid $border-color-special-4;
  }
}

.card__info-item:last-child {
  margin-bottom: 0;
}

.card__info-value {
  justify-self: end;
  margin-left: 0;
}

.card__image-link {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: center;
    margin-bottom: 22px;
  }
}

.card__image {
  display: block;
  object-fit: contain;
}

.card__link {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    grid-row: 4 / 5;
    margin-top: 33px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
  }
}

.card__link--show-more {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 82px;
  }
}
