.choice-program {
  padding-bottom: 32px;
}

.choice-program__description {
  margin-top: 0;
  margin-bottom: 39px;
  font-family: $secondary-font;
  color: $text-color-second;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.choice-program__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.choice-program__field-group {
  margin-bottom: 22px;
}

.choice-program__field-group--add {
  margin-bottom: 33px;
}

.choice-program__button {
  width: 100%;
  margin-bottom: 21px;
}

.choice-program__comment {
  margin-top: 0;
  margin-bottom: 0;

  @include text-parameters($basic-font, 14px, 16px, $text-color-second);
  text-align: center;
}
