.contacts {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1220px 1fr;
    grid-template-rows: 95px auto 103px;
  }
}

.contacts--bg-inner {
  background-color: $bg-color-basic;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding: 61px 40px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 157px;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center;
    margin-left: 0;
    padding-left: 80px;
    padding-right: 80px;
    z-index: 1;
    width: 565px;
    background-color: $bg-color-light;
  }
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 0;

  @include text-parameters($secondary-font, 16px, 20px, $text-color-second-light);
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  line-height: 20px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    // justify-self: end;
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__address-street {
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.contacts__map-wrapper {
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
