.contacts__title {
  @include text-parameters($secondary-font, 16px, 20px, $secondary-color-text-light);
  text-transform: uppercase;
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
}
