.contacts--bg-inner {
  background-color: $bg-color-basic;
}

.contacts__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding: 61px 40px;
    box-sizing: border-box;
  }
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 0;

  @include text-parameters($secondary-font, 16px, 20px, $text-color-second-light);
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  line-height: 20px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    // justify-self: end;
    font-size: 16px;
    text-align: right;
  }
}

.contacts__address-street {
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.contacts__map-wrapper {
  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
