.example {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: $bg-color-basic-dark;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 101px;
    background-image: linear-gradient($bg-color-light 57.3%, $bg-color-basic-dark 57.3%);
  }

  @media (min-width: $desktop-width) {
    padding-top: 25px;
    padding-bottom: 71px;
    background-image: linear-gradient($bg-color-light 25.5%, $bg-color-basic 25.5%);
  }
}

.example__wrapper {
  display: grid;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 367px 1fr;
    row-gap: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 433px 1fr;
    grid-template-rows: auto 1fr auto auto;
  }
}

.example__title {
  margin-top: 0;
  margin-bottom: 20px;

  @include text-parameters($secondary-font, 36px, 40px, $text-color-second);
  font-weight: 400;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    margin-bottom: 142px;
  }
}

.example__description {
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}

.example__results {
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    margin-bottom: 57px;
  }
}

.example__costs {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  @include text-parameters($secondary-font, 14px, 20px, $text-color-second);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    gap: 10px;
    margin-right: 0;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    flex-direction: row;
    gap: 63px;
    margin: 0;
    justify-content: flex-start;
  }
}

.example__costs-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 4px;
}

.example__images {
  position: relative;
  display: flex;

  @media (min-width: $tablet-width) {
    margin-top: 99px;
    grid-column: 1 / -1;
    width: 560px;
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    justify-self: end;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.example__images picture {
  display: contents;
}

.example__image {
  width: 50%;
  object-fit: cover;
}

.example__image--before {
  object-position: left;
}

.example__image--after {
  object-position: right;
}

.example__images-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 4px;
  height: 100%; //100% сделать потом
  padding: 0;
  border: none;
  background-color: $bg-color-special;
  cursor: pointer;

  &:hover {
    background-color: $bg-color-accent;
  }

  &:active {
    background-color: rgba($bg-color-accent-action, 0.6);
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    border: 2px solid $bg-color-special;
    border-radius: 50%;
    background-color: $bg-color-light;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    width: 24px;
    height: 18px;
    mask-image: url("../../icons/stack.svg#icon-arrows");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 24px 18px;
    background-color: $bg-color-special;
  }
}

.example__images-button:hover::before {
  border-color: $bg-color-accent;
}

.example__images-button:hover::after {
  background-color: $bg-color-accent;
}


.example__images-button:active::before {
  border-color: rgba($bg-color-accent-action, 0.6);
}

.example__images-button:active::after {
  background-color: rgba($bg-color-accent-action, 0.6);
}
