.hero {
  padding-top: 27px;
  background-image: linear-gradient(rgba($bg-color-accent, 0.85) 302px, $bg-color-light 302px), url("../../images/index-background-hero-mobile@1x.png"), linear-gradient(to bottom left, #403f44, #505256);
  // background-image: linear-gradient(rgba($bg-color-accent, 0.85), rgba($bg-color-accent, 0.85)), url("../../images/index-background-hero-mobile@1x.png"), linear-gradient(to bottom left, #3f3e43, #525157);
  background-repeat: no-repeat;
  background-position: 50% 0;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba($bg-color-accent, 0.85) 302px, $bg-color-light 302px), url("../../images/index-background-hero-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    padding-top: 61px;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-top: 29px;
    padding-bottom: 52px;
  }
}

.hero__wrapper {
  display: grid;
  box-sizing: border-box;


  @media (min-width: $tablet-width) {
    grid-template-rows: repeat(3, auto);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 450px 50px 1fr;
    grid-template-rows: auto auto 1fr;
  }
}

.hero__wrapper picture {
  display: contents;
}

.hero__title {
  @include text-parameters ($secondary-font, 36px, 36px, $text-color-contrast);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 25px;


  @media (min-width: $tablet-width) {
    @include text-parameters ($secondary-font, 60px, 60px, $text-color-second);
    padding-left: 90px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 81px;
    padding-left: 80px;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }
}

.hero__description {
  @include text-parameters ($secondary-font, 14px, 14px, $text-color-contrast);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    @include text-parameters ($secondary-font, 20px, 20px, $text-color-second);
    padding-left: 90px;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    padding-left: 80px;
    margin-bottom: 52px;
  }
}

.hero__image {
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    max-width: 100%;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
    grid-row: 1 / -1;
  }
}

.hero__link {
  @media (min-width: $tablet-width) {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    place-self: self-start self-start;
    margin-top: 29px;
    padding-left: 26px;
    padding-right: 26px;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-top: 0;
  }
}

