.hero {
  background-color: $bg-color-accent;
  text-align: center;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.hero__title {
  @include text-parameters ($secondary-font, 36px, 36px, $text-color-contrast);
  font-weight: 400;
  margin-top: 0;
}

.hero__description {
  @include text-parameters ($secondary-font, 14px, 14px, $text-color-contrast);
  text-transform: uppercase;
}

.hero__image {
  max-width: 100%;
  height: auto;
}

