.main-header {
  position: relative;
  padding: 14px 0 13px;
  display: grid;
  grid-template-columns: 1fr 280px 1fr;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 708px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-top: 56px;
  }
}

.main-header__wrapper {
  grid-column: 1 / -1;
  width: 280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 176px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.main-header__logo {
  width: 190px;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}


.main-header__toggle {
  position: relative;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle--closed::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 24px;
  height: 2px;
  background: $bg-color-toggle;
  box-shadow:
    0 8px 0 0 $bg-color-toggle,
    0 16px 0 0 $bg-color-toggle;
}

.main-header__toggle--opened::before,
.main-header__toggle--opened::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: $bg-color-toggle;
}

.main-header__toggle--opened::before {
  transform: rotate(45deg);
}

.main-header__toggle--opened::after {
  transform: rotate(-45deg);
}

.main-header__toggle--nojs {
  display: none;
}
