.main-navigation__toggle {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../../icons/stack.svg#icon-menu");
  background-repeat: no-repeat;
  border: none;
}
