.main-container__title {
  @include text-parameters ($secondary-font, 36px, 36px, $text-color-second);
  font-weight: 400;
}

.main-container__hero {
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 78px;
  }
}

.main-container__programs {
  // margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    // margin-bottom: 45px;
  }
}
