.main-container__title {
  margin-top: 0;
  margin-bottom: 0;
}

.main-container__hero {
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 78px;
  }
}

.main-container__programs {
  // margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    // margin-bottom: 45px;
  }
}
