.main-navigation__toggle {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../../icons/stack.svg#icon-menu");
  background-repeat: no-repeat;
  border: none;
<<<<<<< HEAD

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
=======
>>>>>>> fb15d67 (Добавляет векторную графику в проект (#13))
}
