.main-navigation {
  grid-column: 1 / -1;
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  background-color: $bg-color-light;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    justify-content: flex-end;
    background-color: transparent;
  }
}

.main-navigation--closed .main-navigation__list {
  @media (max-width: 767px) {
    display: none;
  }
}

.main-navigation--opened .main-navigation__list {
  @media (max-width: 767px) {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
  }
}

.main-navigation--nojs .main-navigation__list {
  display: block;
  position: static;
}
