.page {
  height: 100%;
}

.page__body {
  @include text-parameters ($basic-font, 14px, 18px, $text-color-basic);
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
}

.page__body--index {
  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      width: 50%;
      height: 693px;
      background-image:
        linear-gradient(rgba($bg-color-accent, 0.85), rgba($bg-color-accent, 0.85)),
        image-set(
          url("../../images/index-hero-background-desktop@1x.webp") type("image/webp") 1x,
          url("../../images/index-hero-background-desktop@2x.webp") type("image/webp") 2x,
          url("../../images/index-hero-background-desktop@1x.png") type("image/png") 1x,
          url("../../images/index-hero-background-desktop@2x.png") type("image/png") 2x
        ),
        linear-gradient(to bottom left, #403f44, #505256);
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}
