.page {
  height: 100%;
}

.page__body {
  @include text-parameters ($basic-font, 14px, 18px, $text-color-basic);
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      width: 50%;
      height: 695px;
      background-image: linear-gradient(rgba($bg-color-accent, 0.85), rgba($bg-color-accent, 0.85)), url("../../images/index-hero-background-desktop@1x.jpg"), linear-gradient(to bottom left, #403f44, #505256);
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}
