.process__title {
  @include text-parameters ($secondary-font, 36px, 40px, $text-color-second);
  font-weight: 400;
}

.process__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.process__item {
  @media (min-width: $tablet-width) {
    width: 250px;
  }
}

.process__item::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: $bg-color-accent;
  background-repeat: no-repeat;
  background-position: center;
}

.process__item--first::before {
  background-image: url("../../icons/stack.svg#icon-process-1");
  background-size: 30px 32px;
}

.process__item--second::before {
  background-image: url("../../icons/stack.svg#icon-process-2");
  background-size: 26px 29px;
}

.process__item--third::before {
  background-image: url("../../icons/stack.svg#icon-process-3");
  background-size: 25px 30px;
}

.process__item--fourth::before {
  background-image: url("../../icons/stack.svg#icon-process-4");
  background-size: 26px 31px;
}
