.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.programs__item {
  background-color: $bg-color-basic;
}

.programs__item-title {
  @include text-parameters($secondary-font, 24px, 37px, $text-color-second);
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
}

.programs__item-link {
  padding-right: 35px;

  @include text-parameters($secondary-font, 16px, 20px, $text-color-second);
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 12px;
    background-image: url("../../icons/stack.svg#icon-arrow-button");
    background-size: 32px 10px;
    background-repeat: no-repeat;
    background-position: right center;
    transform-origin: left center;
    transition: transform 0.3s linear;
  }

  &:is(:hover, :focus, :focus-visible)::after {
    transform: scaleX(1.35);
  }
}

