.programs__item-title {
  @include text-parameters($secondary-font, 24px, 37px, $secondary-color-text);
  text-transform: uppercase;
}

.programs__item-link {
  @include text-parameters($secondary-font, 16px, 20px, $secondary-color-text);
  text-transform: uppercase;
  text-decoration: none;
}
