.section-title {
  display: grid;
  grid-template-columns: 1fr 280px 1fr;
  grid-template-rows: auto;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 708px 1fr;
  }


  &::after {
    content: "";
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 2px;
    margin-bottom: 15px;
    background-color: $bg-color-accent;
    z-index: -1;

    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
      margin-bottom: 8px;
    }
  }
}

.section-title__text {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  margin: 0;
  margin-right: auto;
  padding-right: 40px;

  @include text-parameters($secondary-font, 24px, 24px, $text-color-second);
  font-weight: 400;
  background-color: $bg-color-light;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    font-size: 32px;
    line-height: 32px;
  }
}
