.site-list__item {
  border-top: 1px solid $border-color-basic;

  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.site-list__item:not(:last-child) {
  @media (min-width: $tablet-width) {
    margin-right: 33px;
  }
}

.site-list__link {
  position: relative;
  display: inline-block;
  padding: 23px 0;


  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include text-parameters($secondary-font, 20px, 20px, $text-color-second);
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    color: $text-color-contrast;
  }
}

.site-list__link--active::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $bg-color-accent;

  @media (min-width: $desktop-width) {
    background-color: $bg-color-light;
  }
}
