.site-list {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 475px;
  }
}

.site-list__link {
  @include text-parameters($secondary-font, 20px, 20px, $text-color-second);
  text-transform: uppercase;
  text-decoration: none;
}
