.social__link {
  display: inline-block;
  width: 28px;
  height: 22px;
  background-color: #666666;
  mask-repeat: no-repeat;
  mask-position: center;
  // background-color: red;
}

.social__link--vk {
  mask-image: url("../../icons/icon-vk.svg");
  mask-size: 27px 17px;
}

.social__link--youtube {
  mask-image: url("../../icons/icon-youtube.svg");
  mask-size: 24px 19px;
}

.social__link--tg {
  mask-image: url("../../icons/icon-telegram.svg");
  mask-size: 20px 17px;
}
