.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-self: center;
}

.social__link {
  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $bg-color-special;
  }
}

.social__link--vk::before {
  mask-image: url("../../icons/stack.svg#icon-vk");
  mask-size: 27px 17px;
}

.social__link--youtube::before {
  mask-image: url("../../icons/stack.svg#icon-youtube");
  mask-size: 24px 19px;
}

.social__link--tg::before {
  mask-image: url("../../icons/stack.svg#icon-telegram");
  mask-size: 20px 17px;
}
