.social {
  display: flex;
  column-gap: 24px;
  margin: 0;
  list-style-type: none;
}

.social__link {
  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $bg-color-special;
  }

  &:focus-visible {
    outline: none;
  }
}

.social__link:hover::before {
  background-color: $bg-color-accent;
}

.social__link:active::before,
.social__link:focus::before,
.social__link:focus-visible::before {
  background: rgba($bg-color-accent, 0.3);
}

.social__link--vk::before {
  mask-image: url("../../icons/stack.svg#icon-vk");
  mask-size: 27px 17px;
}

.social__link--youtube::before {
  mask-image: url("../../icons/stack.svg#icon-youtube");
  mask-size: 24px 19px;
}

.social__link--tg::before {
  mask-image: url("../../icons/stack.svg#icon-telegram");
  mask-size: 20px 17px;
}
