.subscribe {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 80px;
  }
}

.subscribe__title {
  padding-top: 40px;
  padding-bottom: 32px;

  @include text-parameters($secondary-font, 24px, 24px, $text-color-second);
  font-weight: 400;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 96px;
    padding-bottom: 72px;
  }
}

.subscribe__container {
  @media (width >= $tablet-width) and (width < $desktop-width) {
    padding-left: 38px;
    padding-right: 38px;
    box-sizing: border-box;
  }
}

.subscribe__text {
  margin-top: 0;
  margin-bottom: 24px;

  @include text-parameters($secondary-font, 16px, 24px, $text-color-second);
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 630px;
    margin: 0 auto 24px;
    font-size: 24px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  row-gap: 14px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
  }
}

.subscribe__input {
  padding: 13px;
  outline: 1px solid $border-color-special-4;
  outline-offset: -1px;
  border: none;

  @include text-parameters($secondary-font, 20px, 20px, $text-color-basic);
  text-transform: uppercase;

  &:hover {
    outline-color: darken($border-color-special-4, 20%);
  }

  &:focus {
    outline: 2px solid $border-color-dark;
    outline-offset: -2px;
  }

  @media (min-width: $tablet-width) {
    // flex-grow: 1;
    min-width: 376px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    min-width: 496px;
  }
}

.subscribe__input--error {
  outline: 2px solid $border-color-error;
  outline-offset: -2px;
}

// .subscribe__input:hover {

// }

.subscribe__button {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    min-width: 256px;
  }
}
